/* General Styles */
body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 22px;
  background-color: #6EBEB5;
  margin: 0;
  padding: 20px; /* Space from edges */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
}

#app {
  text-align: center;
  background-color: #F4F4F3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
}

h1 {
  color: #333;
  margin-top: 10px;
}

/* Segment Styles */
.segment {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #F6E2C6;
}

.sub-segments {
  margin-top: 10px;
  padding: 20px;
  background-color: #F7D4A4;
}

/* Button Styles */
button {
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;
  background-color: #45a049;
  color: #fff;
  border: none;
  border-radius: 3px;
}

button:hover {
  background-color: #367c39;
}

/* Specific Button Styles */
#resetButton {
  background-color: #EF6F6C;
}

#resetButton:hover {
  background-color: #ea423e;
}

#downloadOutline {
  background-color: #45a049;
}

#downloadOutline:hover {
  background-color: #367c39;
}

#backBtn {
  background-color: #131020;
}

#backBtn:hover {
  background-color: #5A7281;
}

/* Input and Textarea Styles */
input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

/* Logo Styles */
.logo {
  max-width: 40%;
  height: auto;
}
